/* Estilos globais */
.bg-custom-body {
  background-color: #3d475f;
}

.feed-principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o container ocupe a altura total da tela */
  background-color: #212839;
  padding: 0 !important;
}

.container-principal {
  flex: 1; /* Faz com que o conteúdo principal ocupe o espaço restante */
  padding: 3% 15%;
}

.footer-feed {
  margin-top: auto; /* Empurra o footer para o final do container */
}

/* Estilos para a seção de publicações */
.publicacoes-titulo {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: -2px;
}

.content-pubicacoes {
  height: 900px; /* Altura fixa para a seção de publicações */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
  padding: 10px;
  border-radius: 8px;
  padding-top: 0px;
}

/* Estilos para a seção de busca */
.SecaoBar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.SecaoBar {
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -38px;
}

/* Estilos para o prompt de login */
.login-prompt {
  text-align: center;
  margin: 20px;
}

.login-prompt p {
  color: white;
  font-size: 18px;
  margin-top: -30px;
}

.login-prompt span {
  color: rgb(120, 142, 189);
  cursor: pointer;
  text-decoration: none;
}

/* Estilos para as seções de conteúdo */
.content-noticias,
.content-fazer-publicacao,
.content-amigos {
  width: 100%;
}

.content-noticias {
  height: 300px;
}

.content-fazer-publicacao {
  height: 100px;
}

.content-amigos {
  height: 400px;
}