.bg-custom-body {
    background-color: #3D475F;
    
  }

.container-principal {
  padding: 3% 15%;
 
}
.feed-principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o container principal ocupe a altura total da tela */
  background-color: #212839;
  padding: 0 !important;

}

.footer-feed {
  margin-top: auto; /* Empurra o footer para o final do container */
  
      
}


.publicacoes-titulo {
  margin-top: 13px;
}

.content-pubicacoes {
  height: 600px; /* Altura fixa para a seção de publicações */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
  padding: 10px; /* Espaçamento interno */
  border-radius: 8px; /* Borda arredondada (opcional) */
}

.feed-principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o container ocupe pelo menos a altura da tela */
}

.container-principal {
  flex: 1; /* Faz com que o conteúdo principal ocupe o espaço restante */
}

.footer-feed {
  margin-top: auto; /* Empurra o footer para o final da página */
}

.SecaoBar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Ajuste este valor conforme necessário */
}

/* Estilo para a SecaoBar */
.SecaoBar {
  width: 80%; /* Ajuste a largura conforme necessário */
  max-width: 1200px; /* Defina um valor máximo para a largura */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -38px;
}