.bg-custom-foto-line {
    background-color: #27335C;
    border-color: #27335C;
  }

  .secao-feed-text-foto {
    font-size: 20px; /* Define o tamanho da fonte */
    font-weight: bold;
    margin-top: 10px;
  }