/* Estilos gerais para a seção de configuração do feed */
.seca-feed-config {
  height: 70%;
  width: 80%;
  background-color: #272c3ff5;
  border-color: #272c3ff5;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-left: 63px;
}

/* Estilo para o texto "Informações" */
.secao-feed-text-amigo {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: white;;
}

/* Estilo para o topo da seção, onde a foto e o nome do usuário são exibidos */
.topo-config {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Estilo para a imagem do usuário */
.topo-config img {
  width: 15%;
  height: 35px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 25%;
}

.img-user.padrao {
  width: 25%;
}

/* Estilo para o nome do usuário */
.login-config {
  color: aliceblue;
  margin-left: -10px;
  margin-top: 8px;

}

/* Estilo para os links de edição de perfil e galeria de fotos */
.config-fotos {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

/* Estilo para os links personalizados */
.link-custom {
  text-decoration: none;
  color: white;
  margin-bottom: 0.5rem;
}