/* Estilos gerais para a seção de configuração do feed */
.seca-feed-config {
  height: 70%;
  width: 100%;
  background-color: #272c3ff5;
  border-color: #27335C;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

/* Estilo para o texto "Informações" */
.secao-feed-text-amigo {
  color: white;
}

/* Estilo para o topo da seção, onde a foto e o nome do usuário são exibidos */
.topo {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Estilo para a imagem do usuário */
.topo img {
  width: 15%;
  height: 45px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 20%;
}

/* Estilo para o nome do usuário */
.login {
  color: aliceblue;
  margin-left: 10px;
}

/* Estilo para os links de edição de perfil e galeria de fotos */
.config-fotos {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

/* Estilo para os links personalizados */
.link-custom {
  text-decoration: none;
  color: white;
  margin-bottom: 0.5rem;
}