.texto-publicacao {
  height: 40%;
  width: 100%; /* Ajuste a largura como necessário */
  background-color: #B4A6A6; /* Altera a cor do botão */
  border-color: #B4A6A6; /* Cor da borda combinando com o fundo */
  color: white; /* Cor do texto para melhor contraste */
  
  border-radius: 5px; /* Arredonda os cantos do botão */
  font-size: 30px;
}

.secao-publicacao {
  width: 100%;
  
}

.img-user {
  height: 40px;
  width: 63px;
  margin-top: 30px;
}

.texto-publicacao:hover {
  color: white;
  background-color: rgba(10, 23, 79, 0.225);
}

.foto-Perfil {
  margin-top: 30px;
  margin-left: 20px;
}