.card-moderno {
    background-color: #272c3ff5;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.card-header {
    color: white;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
}

.card-localizacao {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: -4px !important;
}

.card-data {
    font-size: 14px;
    margin: 5px 0 0;
    opacity: 0.8;
}

.card-body {
    display: flex; /* Ativa o flexbox */
    align-items: center; /* Centraliza verticalmente */
    gap: 20px; /* Espaço entre os elementos */
}

.card-temperatura {
    flex: 1; 
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -60%;
    margin-top: 20px;
}

.card-icone {
    width: 70px;
    height: 70px;
}

.card-temp {
    font-size: 45px;
    margin: 0;
    font-weight: bold;
}

.card-info-direita {
    flex: 1; /* Ocupa o espaço restante */
    text-align: right; /* Alinha o conteúdo à direita */
    margin-left: 55%;
    margin-top: -13%;
}

.card-info-direita p {
    font-size: 25px !important;
}

.card-condicao {
    font-size: 18px;
    margin: 5px 0;
    text-transform: capitalize;
}

.card-descricao-principal {
    display: flex;
    gap: 8px;
    color: white;
    margin-left: -17%;
    margin-top: 25px;
}

.card-descricao-sub {
    font-size: 16px !important;
    color: white;
    margin: 10px 0;
}

.card-detalhes {
    font-size: 14px;
    color: #444;
    margin-top: 15px;
}d

.card-footer {
    background-color: #f7f7f7;
    padding: 15px;
}

.card-detalhes p {
    font-size: 18px !important;
    color: white;
}

.lista-detalhes {
    display: flex;
    justify-content: space-evenly; /* Distribui os itens igualmente */
    flex-wrap: nowrap; /* Garante que os itens não quebrem para uma nova linha */
    gap: 20px; /* Espaço entre os itens */
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.lista-detalhes li {
    text-align: center;
    font-size: 16px;
}

.lista-detalhes li span {
    display: block;
}

.lista-detalhes li span:first-child {
    font-weight: bold;
    color: #498F9F;
}