.previsao-principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o container principal ocupe a altura total da tela */
    background-color: #212839;
}

.content-previsao {
    flex: 1; /* Faz o conteúdo expandir para preencher o espaço entre o header e o footer */
}

.footer-previsao {
    margin-top: auto; /* Empurra o footer para o final do container */
}

.busca-previsao {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.previsao-busca {
    text-align: center;
    margin: 1.5rem;
}

div.previsao-busca div.busca-group input {
    width: 30rem;
    border-radius: 5px 0 0px 5px;
    outline: none;
    border: none;
    padding: 4px 10px;
    text-align: center;
}

button {
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: all 0.3s ease;
    outline: none;
    border: none;
    background-color: inherit;
}

.button-busca {
    background-color: white;
}

/* Container principal com grid */
.previsao-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Primeira linha: CardPrevisao e CardMapaDados */
.primeira-linha {
    border: 2px solid green; /* Borda verde para visualização */
    padding: 10px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    margin-bottom: 20px; /* Espaço entre as linhas */
}

/* Segunda linha: CardPrevisaoSecundario */
.segunda-linha {
    margin-bottom: 20px; /* Espaço entre as linhas */
}

/* Estilos para os cards */
.card-principal, .card-secundario, .card-mapa-dados {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Ajustes para responsividade */
@media (max-width: 768px) {
    .primeira-linha, .segunda-linha {
        flex-direction: column; /* Uma coluna em telas menores */
    }
}