.previsao-principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o container principal ocupe a altura total da tela */
    background-color: #3D475F;
}

.content-previsao {
    flex: 1; /* Faz o conteúdo expandir para preencher o espaço entre o header e o footer */
}

.footer-previsao {
    margin-top: auto; /* Empurra o footer para o final do container */
        
}