.secao-navbar {
    width: 100%;
    height: 50px;
    background-color: #246878;
    filter: brightness(0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
}

.secao-navbar nav {
    display: flex;
    gap: 130px;
}

.secao-navbar a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.secao-navbar a:hover {
    opacity: 0.8; /* Efeito simples de opacidade */
}
