.secaoPrincipal {
    display: flex;
    border: 2px solid red;
    padding: 10px;
}

.secaoFoto {
    border: 2px solid green;
    height: 100px;
    width: 100px; /* Quadrado */
    margin-right: 10px;
}

.secaoPublicacao {
    border: 2px solid rgb(11, 11, 18);
    height: 100px;
    flex: 1; /* Ocupa o restante do espaço */
}