
.header-banner {
    height: 110px;
    object-fit: cover;
    filter: brightness(55%);
    
}
.header-principal {
    position: relative;
    z-index: 101; /* Maior que o z-index da .secao-navbar */
}

.label-principal {
    height: auto; 
}

.login-text {
    display: flex;
    align-items: center;  /* Alinha os itens verticalmente no centro */
    cursor: pointer;
}

.login-text:hover {
    text-decoration: underline;
}

.login-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f0f0f0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}

.login-text span {
    font-size: 1.25rem; /* Ajuste o tamanho da fonte conforme necessário */
    margin-left: 10px; /* Pode ser usado para garantir que o texto não fique muito colado à imagem */
  }