.home-principal {
   /* height: 130vh;*/
}

.logo-login {
    position: relative;
    top: 5%;
}
.logo-login-principal {
    max-width: 80%; /* Ajusta o tamanho máximo do logotipo */
    height: 450px; /* Mantém a proporção da imagem */
    border-radius: 6px;
}

form {
    padding: 20px;
    border-radius: 8px;
    background-color: transparent; /* Fundo transparente */
    box-shadow: 0px 4px 6px rgba(59, 14, 14, 0.1); /* Sombra para destaque */
}

.form-control-sm {
    height: 50px; /* Altura dos inputs */
    font-size: 0.9rem;
    width: 100%; /* Largura total */
    text-align: center; /* Centraliza o texto */
}
.form-label {
    text-align: left; /* Alinha o texto à esquerda */
    display: block; /* Garante que a label fique acima do input */
    color: white; /* Mantém o texto branco */
    margin-bottom: 5px; /* Espaço entre a label e o input */
}

::placeholder {
    text-align: center; /* Centraliza o texto do placeholder */
}

.btn {
    height: 50px; /* Mesmo tamanho dos inputs */
    font-size: 0.9rem;
}

.btn-outline-secondary {
    color: #e9dddd;
    border-color: #ccc;
}

.btn-outline-secondary:hover {
    background-color: #610c18;
    border-color: #999;
}

img {
    vertical-align: middle;
}
.label-name {
    color: white;
}
.label-login {
    color: white;
    font-size: 45px;
}

.footer-login {
    position: relative;
    top: 10%;
    
}