

.content-senha-redefinir {

}

.card-senha-redefinir {
    background-color: #272c3ff5;
    margin-top: -20px;
}

.card-senha-redefinir {
    border-radius: 20px;
    margin-top: 25%;
}

.card-title {
    color: white;
    margin-top: 20px;
}
.form-redefinir-senha {
    margin-top: -20px;
}

.label-redefinir {
    text-align: center;
    font-size: 20px;
}