/* Home.css */
.home-principal {
    width: 100%;
    min-height: 100vh;
    background-color: #212839;
    display: flex;
    flex-direction: column;
  }
  
  .banner-home {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .text-center-home {
    color: white;
    margin-top: 20px;
    text-align: center;
    width: 90%;
    margin: 20px auto;
    padding-inline: 10%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha */
    justify-content: space-around;
  }
  
  .card-home {
    width: 45%; /* Ajuste a largura para telas maiores */
    margin-top: 20px;
    background-color: #272c3ff5;
    padding: 20px;
    border-radius: 8px;
  }
  
  .card {
    height: auto;
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 3px 7px 2px rgba(5, 3, 22, 0.15);
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-home {
    text-align: center;
    margin-top: auto;
    background-color: #272c3ff5;
    color: white;
  }
  
  /* Media Queries para telas menores */
  @media (max-width: 768px) {
    .card-home {
      width: 90%; /* Ajuste a largura para telas menores */
    }
  
    .text-center-home {
      padding-inline: 5%;
    }
  }
  
  @media (max-width: 480px) {
    .card-home {
      width: 100%; /* Ajuste a largura para telas muito pequenas */
    }
  
    .text-center-home {
      padding-inline: 2%;
    }
  }