.home-principal {
    width: 100%;
    min-height: 100vh; /* Garante que ocupe ao menos a altura da tela */
    position: relative;
    background-color: #212839;
    display: flex;
    flex-direction: column; /* Alinha o conteúdo de forma vertical */
}

.banner-home {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.text-center-home {
    color: white;
    margin-top: 20px; /* Espaço entre o banner e o texto */
    text-align: center; /* Centraliza o texto */
    width: 90%; /* Garante que o texto não ultrapasse os limites */
    margin: 20px auto; /* Centraliza horizontalmente */
    padding-inline: 20%;

}

/* Ajustando o espaço entre os elementos */
.row{
    display: flex;
    justify-content: space-around;
}

.card-home {
    width: 90%; /* Ajusta a largura para manter o conteúdo alinhado */
    margin-top: 20px;/* Espaçamento automático acima e abaixo */
    background-color: #272c3ff5; /* Cor de fundo desejada */
    padding: 20px; /* Adiciona espaçamento interno */
    padding-left: 5%; /* Ajustando a posição dos cards no centro */
    border-radius: 8px; /* Bordas arredondadas (opcional) */
    flex-grow: 1;
}

.card {
    height: auto; /* Define a altura fixa para os cards */
    width: 100%; /* Definindo uma largura */
    background-color: white; /* Mantém o fundo do card distinto */
    border: none; /* Remove a borda do card (opcional) */
    border-radius: 8px; /* Bordas arredondadas para os cards */
    overflow: hidden; /* Ajustando a imagem dentro dos cards */
    cursor: pointer; 
    box-shadow: 0px 3px 7px 2px rgba(5, 3, 22, 0.15); /* Adicionando uma box-shadow aos cards */
    
}

/* Definindo a altura e largura dos cards */
.card img{
    width: 100%; 
    height: auto; 
}


#desastreCard{
    min-width: 110%;    
   
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
}


.footer-home {
    text-align: center;
    margin-top: auto; /* Empurra o footer para o final da página */
    background-color: #272c3ff5; /* Cor do fundo do footer */
    color: white;
  
}








  