.footer-global {
    background-color: #498F9F;
    height: 150px;
    filter: brightness(0.7); /* Escurece a cor */ 
}
.conta-telefone {
    top: 30%;
}

.telefone {
    top: 30%;
}

.direitos-autorais {
    margin-top: 110px; 
}

.icons-social img {
    width: 30px; /* Ajusta o tamanho dos ícones */
    height: auto;
}